html {
  font-family: Merriweather, serif;
}

.calendar,
td,
th {
  border: 1px solid #ccc;
}

td {
  height: 10em;
}

.event {
  border-radius: 8px;
  background-color: #f2f2f2;
  border: 1px solid #666;
  color: #333;
}

.event-red {
  border-radius: 8px;
  background-color: #f2bcbc;
  border: 1px solid #b92828;
  color: #991919;
}

.event-green {
  border-radius: 8px;
  background-color: #d1e0bf;
  border: 1px solid #6b7e54;
  color: #51603f;
}

.event-blue {
  border-radius: 8px;
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  color: #38448e;
}
